USE [master]
GO
/****** Object:  Database [Definitions]    Script Date: 5/18/2016 3:33:27 PM ******/
CREATE DATABASE [Definitions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Definitions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Definitions.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Definitions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Definitions_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Definitions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Definitions]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 5/18/2016 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectNo] [int] NOT NULL,
	[No] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[PhysicalName] [nvarchar](100) NULL,
	[ServiceUnit] [nvarchar](100) NULL,
	[BusinessUnit] [nvarchar](100) NULL,
	[Priority] [nvarchar](10) NULL,
	[Difficulty] [nvarchar](10) NULL,
	[Status] [nvarchar](100) NULL,
	[Created] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[Updated] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[Deleted] [nvarchar](100) NULL,
	[DeleteDate] [datetime] NULL,
	[RowVersion] [timestamp] NULL,
	[JsonVersion] [nvarchar](10) NULL,
	[Json] [nvarchar](max) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PageService]    Script Date: 5/18/2016 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectNo] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Created] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[Updated] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[Deleted] [nvarchar](100) NULL,
	[DeleteDate] [datetime] NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_PageService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/18/2016 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectNo] [int] NOT NULL,
	[No] [int] NOT NULL,
	[Customer] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[PhysicalName] [nvarchar](100) NULL,
	[ServiceUnit] [nvarchar](100) NULL,
	[Memo] [nvarchar](max) NULL,
	[Created] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[Updated] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[Deleted] [nvarchar](100) NULL,
	[DeleteDate] [datetime] NULL,
	[RowVersion] [timestamp] NULL,
	[JsonVersion] [nvarchar](10) NULL,
	[Json] [nvarchar](max) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 5/18/2016 3:33:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectNo] [int] NOT NULL,
	[No] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NULL,
	[ProcessName] [nvarchar](100) NULL,
	[ServiceUnit] [nvarchar](100) NULL,
	[Version] [nchar](10) NULL,
	[ServiceClass] [nvarchar](100) NULL,
	[DbContext] [nvarchar](100) NULL,
	[MethodName] [nvarchar](100) NULL,
	[HttpComand] [nchar](10) NULL,
	[Priority] [nvarchar](10) NULL,
	[Difficulty] [nvarchar](10) NULL,
	[Status] [nvarchar](100) NULL,
	[Created] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[Updated] [nvarchar](100) NULL,
	[UpdateDate] [datetime] NULL,
	[Deleted] [nvarchar](100) NULL,
	[DeleteDate] [datetime] NULL,
	[RowVersion] [timestamp] NULL,
	[JsonVersion] [nchar](10) NULL,
	[Json] [nvarchar](max) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([Id], [ProjectNo], [No], [Name], [PhysicalName], [ServiceUnit], [BusinessUnit], [Priority], [Difficulty], [Status], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (1, 1, 1, N'架電一覧画面', N'CallList', N'ACTOS', N'ACTOS', N'高', N'中', N'2/1', N'h-saitou', CAST(0x0000A59500000000 AS DateTime), N'h-saitou', CAST(0x0000A59500000000 AS DateTime), NULL, NULL, N'1.2.0', NULL)
INSERT [dbo].[Page] ([Id], [ProjectNo], [No], [Name], [PhysicalName], [ServiceUnit], [BusinessUnit], [Priority], [Difficulty], [Status], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (2, 1, 2, N'架電準備画面', N'CallPreparation', N'ACTOS', N'ACTOS', N'高', N'高', N'2/2', N'h-saitou', CAST(0x0000A59500000000 AS DateTime), N'h-saitou', CAST(0x0000A59500000000 AS DateTime), NULL, NULL, N'1.2.0', NULL)
INSERT [dbo].[Page] ([Id], [ProjectNo], [No], [Name], [PhysicalName], [ServiceUnit], [BusinessUnit], [Priority], [Difficulty], [Status], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (3, 1, 3, N'カウンセリング日程設定画面', N'CounselingScheduleSearchList', N'ACTOS', N'ACTOS', N'高', N'高', N'2/2', N'h-saitou', CAST(0x0000A59500000000 AS DateTime), N'h-saitou', CAST(0x0000A59500000000 AS DateTime), NULL, NULL, N'1.2.0', NULL)
SET IDENTITY_INSERT [dbo].[Page] OFF
SET IDENTITY_INSERT [dbo].[PageService] ON 

INSERT [dbo].[PageService] ([Id], [ProjectNo], [PageId], [ServiceId], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate]) VALUES (2, 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PageService] ([Id], [ProjectNo], [PageId], [ServiceId], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate]) VALUES (4, 1, 1, 4, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PageService] ([Id], [ProjectNo], [PageId], [ServiceId], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate]) VALUES (5, 1, 1, 8, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PageService] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Id], [ProjectNo], [No], [Customer], [Name], [PhysicalName], [ServiceUnit], [Memo], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (1, 1, 1, N'インテリジェンス', N'CSS統合', N'ACTOS', N'Actos', N'メモです', N'h-saitou', CAST(0x0000A59A00000000 AS DateTime), N'h-saitou', CAST(0x0000A59A00000000 AS DateTime), NULL, NULL, N'1.2.0', NULL)
INSERT [dbo].[Project] ([Id], [ProjectNo], [No], [Customer], [Name], [PhysicalName], [ServiceUnit], [Memo], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (2, 2, 2, N'インテリジェンス', N'外部入稿', NULL, N'Manusctipt', N'メモです', N'h-saitou', CAST(0x0000A59A00000000 AS DateTime), N'h-saitou', CAST(0x0000A59A00000000 AS DateTime), NULL, NULL, N'1.2.0', NULL)
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [ProjectNo], [No], [ServiceName], [ProcessName], [ServiceUnit], [Version], [ServiceClass], [DbContext], [MethodName], [HttpComand], [Priority], [Difficulty], [Status], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (1, 1, 101, N'呼込み候補者情報', N'架電一覧取得', N'ACTOS', N'V1        ', N'ActosTargetInfoController', N'ActosInfoContext', N'GetCallTargetList', N'GET       ', N'高', N'中', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'1.2.0     ', NULL)
INSERT [dbo].[Service] ([Id], [ProjectNo], [No], [ServiceName], [ProcessName], [ServiceUnit], [Version], [ServiceClass], [DbContext], [MethodName], [HttpComand], [Priority], [Difficulty], [Status], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (4, 1, 102, N'呼込み候補者情報', N'架電手一覧表示設定取得', N'ACTOS', N'V1        ', N'CallTargetConfigController', N'ActosInfoContext', N'GetCallTargetConfig', N'GET       ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'1.2.0     ', NULL)
INSERT [dbo].[Service] ([Id], [ProjectNo], [No], [ServiceName], [ProcessName], [ServiceUnit], [Version], [ServiceClass], [DbContext], [MethodName], [HttpComand], [Priority], [Difficulty], [Status], [Created], [CreateDate], [Updated], [UpdateDate], [Deleted], [DeleteDate], [JsonVersion], [Json]) VALUES (8, 1, 103, N'候補者実績', N'担当CO更新', N'StaffManagement', N'V1        ', N'StaffActualInfoController', N'StaffActualInfoContext', N'UpdateResponsibleCO', N'POST      ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'1.2.0     ', NULL)
SET IDENTITY_INSERT [dbo].[Service] OFF
ALTER TABLE [dbo].[PageService]  WITH CHECK ADD  CONSTRAINT [FK_PageService_Page] FOREIGN KEY([PageId])
REFERENCES [dbo].[Page] ([Id])
GO
ALTER TABLE [dbo].[PageService] CHECK CONSTRAINT [FK_PageService_Page]
GO
ALTER TABLE [dbo].[PageService]  WITH CHECK ADD  CONSTRAINT [FK_PageService_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[PageService] CHECK CONSTRAINT [FK_PageService_Service]
GO
USE [master]
GO
