/*-----------------------------------------------------------------------------
    テーマ変数定義
-----------------------------------------------------------------------------*/
.screen-header .screen-title {
  top: 0px;
  padding-left: 18px;
}
.header-row {
  background-color: #e7e6fa;
}
.commands-menu {
  color: #aaaaaa;
}
.commands-menu:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.nav-tabs {
  border-bottom-color: #101177;
  border-bottom-width: 2px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active {
  background-color: #fff;
  border-color: #101177;
  border-bottom-color: #fff;
  border-top: 3px solid #99c339;
}
.nav-tabs > li.active {
  margin-bottom: -2px;
}
.panel > .panel-heading {
  background-color: #101177;
  color: #ffffff;
}
.panel > .panel-heading[data-toggle] {
  cursor: pointer;
}
.panel > .panel-heading[data-toggle] .glyphicon {
  color: #ffffff;
}
.panel > .panel-heading[data-toggle]:hover {
  background-color: #13148d;
}
.panel-body .datalist.row {
  margin-left: 0px;
}
.panel-body .datalist {
  background-color: #fff;
  padding: 6px;
  padding-right: 18px;
}
.panel-body .datalist .col-xs-12.datalist-item {
  margin: 6px;
  box-shadow: rgba(128, 128, 128, 0.54902) 2px 2px 6px 3px;
}
.panel-body .datalist .col-xs-12.datalist-item.selected {
  background-color: #fff0e5;
}
a {
  color: #101177;
}
a:hover {
  color: #1617a4;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a:active {
  background-color: #e7e6fa;
}
.panel-title-center {
  text-align: center;
}
.btn-info {
  background-color: #99c339;
}
.btn-info:hover {
  background-color: #aed05f;
}
.btn-info:focus {
  background-color: #aed05f;
}
.btn-info:active {
  background-color: #7a9c2d;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-color: #7a9c2d;
}
.btn-primary {
  background-color: #ff6600;
}
.btn-primary:hover {
  background-color: #ff8533;
}
.btn-primary:focus {
  background-color: #ff8533;
}
.tab-pane {
  padding: 12px;
}
.item-label {
  display: inline-block;
  background-color: #4d4d80;
  padding: 3px 6px 3px 6px;
  font-weight: normal;
  color: #fff;
  font-size: 12px;
  min-width: 90px;
  text-align: center;
}
.item-label.recommended {
  background-color: #ff8533;
}
.item-label.private {
  background-color: #999999;
}
.btn-xs,
.btn-sm,
.btn-md {
  font-size: 13px;
}
.modal .modal-header {
  background-color: #4d4d80;
  color: #fff;
}
.modal .modal-header .close,
.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
  color: #fff;
}
.modal .panel > .panel-heading {
  background-color: #101177;
  color: #ffffff;
}
.modal .modal-footer .btn {
  min-width: 100px;
}
.message-area .info-message {
  background-color: #e7e6fa;
}
.message-area .info-message ul pre:hover {
  background-color: #e7e6fa;
}
.breadcrumb {
  margin-top: 6px;
}
.small-font {
  font-size: 9px;
}
.screen-commands {
  box-shadow: 0 2px 2px 0 rgba(32, 32, 32, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.detail-command {
  text-align: center;
}
.btn-next-search {
  margin: 5px 0px 5px 0px;
  min-width: 150px;
}