html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*background: transparent;
  color: #333333;*/
}
body {
  /*-moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;*/
}
html,
body {
  width: 100%;
  height: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
  vertical-align: top;
}
td {
  font-weight: normal;
  vertical-align: top;
}
li {
  list-style: none;
}
/*@import './reset.less';*/
/*-----------------------------------------------------------------------------
    テーマ変数定義
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
    ローディング表示領域のクラス定義
-----------------------------------------------------------------------------*/
.loading {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
}
.loading .loading-overlay {
  background-color: #fafafa;
  opacity: .7;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=30);
}
.loading .loading-holder {
  width: 100%;
  top: 50%;
  overflow: hidden;
  position: absolute;
}
.loading .loading-image {
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../lib/ArchPackJs/css/images/loading.gif);
}
.loading .loading-message {
  margin-top: 1em;
  font-size: 1.5em;
  text-align: center;
}
/*-----------------------------------------------------------------------------
    データテーブルのスタイル定義
-----------------------------------------------------------------------------*/
/* TODO: .dt-container .fix-columns table.datatable に変更予定*/
.dt-container .fix-columns table.datatable {
  border-right: 3px solid #ffffff;
}
table.datatable {
  border-collapse: collapse;
  width: 100%;
  margin-right: 1px;
  max-width: 2000px;
  line-height: 16px;
}
table.datatable th,
table.datatable td {
  border-collapse: collapse;
  vertical-align: middle;
  padding: 2px;
}
table.datatable th {
  border: 2px solid #ffffff;
  background-color: #777777;
  color: #333333;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
table.datatable th i {
  margin-left: 5px;
}
table.datatable td {
  border: 2px solid #ffffff;
  color: #333333;
}
table.datatable td button {
  padding: 0 2px 0 2px;
  min-width: 0;
}
table.datatable td label {
  min-width: 0;
}
table.datatable td input[type="checkbox"] {
  vertical-align: middle;
}
table.datatable tbody:nth-child(even) td {
  /*background-color: @datatable-body-bg-color - 5;*/
  background-color: transparent;
}
table.datatable td.center {
  text-align: center;
}
table.datatable tbody.has-error td {
  background-color: #fff7f7 !important;
}
table.datatable tbody {
  background-color: #ffffff;
}
table.datatable tfoot {
  background-color: #ffffff;
}
table.datatable input[type="text"],
table.datatable input[type="password"],
table.datatable select,
table.datatable textarea {
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  box-sizing: border-box;
}
table.datatable button {
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}
table.datatable .select-tab {
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: #efefef;
  min-width: 0px;
  display: block;
  height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
table.datatable .select-tab.select-tab-2lines {
  height: 55px;
}
table.datatable .selected {
  border-left-color: #666666;
}
/*-----------------------------------------------------------------------------
    データテーブルのカレンダー表示のクラス定義
-----------------------------------------------------------------------------*/
table.datatable tbody .date-col.sat,
table.datatable tbody.date-row.sat {
  background-color: #cdcdfe;
}
table.datatable tbody .date-col.sat input[type=text],
table.datatable tbody.date-row.sat input[type=text],
table.datatable tbody .date-col.sat select,
table.datatable tbody.date-row.sat select {
  border-color: #b4b4fe;
  background-color: #fafaff;
}
table.datatable tbody .date-col.sun,
table.datatable tbody.date-row.sun {
  background-color: #ffd6d6;
}
table.datatable tbody .date-col.sun input[type=text],
table.datatable tbody.date-row.sun input[type=text],
table.datatable tbody .date-col.sun select,
table.datatable tbody.date-row.sun select {
  border-color: #ffbdbd;
  background-color: #fffafa;
}
.dt-container {
  position: relative;
  overflow-x: auto;
  /*border-bottom: 1px solid @default-bd-color;*/
}
.dt-container .fix-columns {
  position: absolute;
}
.dt-container .fix-columns table.datatable {
  margin-right: 0px;
  z-index: 10;
}
.dt-container .dt-head {
  overflow-x: hidden;
}
.dt-container .dt-body {
  position: relative;
  overflow-x: auto;
  overflow-y: scroll;
  top: 0;
}
.dt-container .dt-body thead th,
.dt-container .dt-body thead td {
  height: 0 !important;
  padding: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.dt-container .dt-body.dt-fix-body {
  margin-top: 0px;
  position: relative;
  top: 0;
  overflow: hidden;
}
.dt-container .dt-foot {
  overflow-x: hidden;
}
.dt-container .wait {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0px;
  left: 0px;
}
html {
  font-size: 13px;
}
body {
  font-size: 13px;
  font-family: Meiryo, MS PGothic, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
html,
body {
  height: 100%;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.screen-header {
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #101177;
  color: white;
}
.screen-header .global-menu-opner {
  color: #101177;
}
.screen-header .navbar-brand {
  padding: 0px;
}
.screen-header .screen-logo {
  font-size: 19px;
  display: inline-block;
  padding: 10px 15px 10px 15px;
}
.screen-header .screen-logo:hover {
  background-color: #1617a4;
}
.screen-header .screen-title {
  position: relative;
  display: inline-block;
  padding: 10px 15px 10px 5px;
  top: -3px;
  /*&:hover {
            background-color: lighten(@key-color, 10%);
        }*/
}
.commands {
  text-align: right;
}
.screen-commands {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
.screen-commands .commands-container {
  /*margin-top: @default-margin;
        margin-left: @default-double-margin;
        margin-right: @default-double-margin;
        .default-radius();*/
  background-color: #ffffff;
  padding: 3px 12px 1px 6px;
}
.screen-commands .commands-container .row {
  margin-right: 0px;
}
.screen-commands .commands-container .breadcrumb {
  margin-bottom: 3px;
}
.screen-commands .commands-container .breadcrumb > li + li::before {
  content: ">";
}
.screen-commands .commands-container .commands {
  margin-right: -15px;
}
.screen-commands .commands-container .btn-sm {
  min-width: 65px;
}
.screen-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.screen-footer .footer-container {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.screen-footer .footer-content {
  height: 0px;
  position: relative;
}
.screen-footer .footer-content .commands {
  position: absolute;
  right: 12px;
  height: 0px;
  line-height: 0px;
  margin-right: 12px;
}
.screen-body {
  position: absolute;
  top: 85px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 12px;
  /*.detail {
        .detail-command {
            text-align: center;
        }
    }*/
}
.menu-container {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 400px;
  background-color: white;
  z-index: 9000;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.menu-container .portalmenu-container {
  margin: 12px;
}
.menu-container .menu-child .menu-child {
  margin-left: 1em;
}
button,
input[type="button"],
input[type="submit"],
input[type="cancel"],
a[href],
.btn {
  cursor: pointer;
}
.btn {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  box-shadow: none;
}
.btn-info.disabled,
[disabled].btn-info,
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
[disabled].btn-info:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
[disabled].btn-info:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
[disabled].btn-info.focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
[disabled].btn-info:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
[disabled].btn-info.active,
fieldset[disabled] .btn-info.active {
  background-color: #aaaaaa;
}
.btn-primary.disabled,
[disabled].btn-primary,
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
[disabled].btn-primary:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
[disabled].btn-primary:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
[disabled].btn-primary.focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
[disabled].btn-primary:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
[disabled].btn-primary.active,
fieldset[disabled] .btn-primary.active {
  background-color: #aaaaaa;
}
.panel {
  /*box-shadow:rgba(128, 128, 128, 0.54902) 2px 2px 6px 3px;*/
  box-shadow: 2px 2px 2px 0 rgba(32, 32, 32, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  /*border-radius: 0px;*/
  border: 0;
  margin-bottom: 12px;
  /*
    &.panel-default{
        border-top: 3px solid @key-color;
    }
    &.panel-primary{
        border-top: 3px solid @key-color;
    }
    &.panel-danger{
        border-top: 3px solid @brand-danger;
    }
    &.panel-info{
        border-top: 3px solid @brand-info;
    }
    &.panel-warning{
        border-top: 3px solid @brand-warning;
    }
    &.panel-success{
        border-top: 3px solid @brand-success;
    }
    */
}
.panel > .panel-heading {
  background-color: #f6f6f6;
  border-bottom: solid 1px #cccccc;
}
.panel > .panel-heading[data-toggle] {
  cursor: pointer;
}
.panel > .panel-heading[data-toggle] .glyphicon {
  color: #777777;
}
.panel > .panel-heading[data-toggle]:hover {
  background-color: #e3e3e3;
}
.panel .panel-title {
  font-size: 13px;
}
.modal .modal-content {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.modal .modal-header {
  padding-bottom: 6px;
  padding-top: 6px;
  border-bottom: solid 1px #eeeeee;
}
.modal .modal-body {
  padding-bottom: 6px;
  padding-top: 6px;
}
.modal .modal-footer {
  padding-bottom: 6px;
  padding-top: 6px;
}
.navbar-right {
  margin-right: 6px;
}
.navbar-nav.nav a.btn.btn-link {
  height: 40px;
  color: #ffffff;
}
.navbar-nav.nav a.btn.btn-link:hover,
.navbar-nav.nav a.btn.btn-link:focus {
  background-color: #1617a4;
  border-color: #1617a4;
}
.navbar-nav.nav .open > a,
.navbar-nav.nav .open > a:hover,
.navbar-nav.nav .open > a:focus {
  background-color: #0a0b4a;
  border-color: #0a0b4a;
}
.breadcrumb {
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#body {
  /*.screen-body {
        top: 0; //@height-global-header;
    }*/
}
#body .page-title {
  /*position: relative;
        left: 12px;
        top: 3px;*/
  cursor: pointer;
}
#body #menu-toggle {
  cursor: pointer;
}
#body .screen-header {
  z-index: 1;
}
#body .menu-container {
  top: 40px;
}
#body .side-bar {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 280px;
  box-shadow: rgba(128, 128, 128, 0.5) 2px 2px 6px 3px;
  z-index: 2;
  background-color: white;
  overflow: auto;
}
#body .side-bar .side-bar-items {
  width: 100%;
}
#body .side-bar .side-bar-items .side-bar-item {
  font-size: 14px;
}
#body .side-bar .side-bar-items .side-bar-item a {
  color: #333333;
}
#body .side-bar .side-bar-items .side-bar-item .side-bar-item-text {
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  display: block;
}
#body .side-bar .side-bar-items .side-bar-item .side-bar-item-text:hover {
  background-color: #f1f1f1;
}
#body .side-bar .side-bar-items .side-bar-item.side-bar-item-role {
  border-top: 1px solid #f1f1f1;
  height: 150%;
  background-color: #cbcbcb;
}
#body .side-bar .side-bar-items .side-bar-item.side-bar-item-role .side-bar-item-text {
  padding-left: 12px;
  background: -webkit-linear-gradient(top, #ffffff, #bebebe);
  background: -ms-linear-gradient(top, #ffffff, #bebebe);
}
#body .side-bar .side-bar-items .side-bar-item.side-bar-item-suver {
  background: none #f1f1f1;
}
#body .side-bar .side-bar-items .side-bar-item.side-bar-item-suver .side-bar-item-text {
  padding-left: 18px;
  background: none #f1f1f1;
  display: inline-block;
  cursor: pointer;
}
#body .side-bar .side-bar-items .side-bar-item.side-bar-item-page .side-bar-item-text {
  padding-left: 24px;
  background: none #FFF;
  display: inline-block;
  width: 100%;
}
#body .side-bar .side-bar-items-dashboard ul {
  display: none;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item {
  font-size: 14px;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item a {
  color: #333333;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item .side-bar-item-text,
#body .side-bar .side-bar-items-dashboard .side-bar-item .side-bar-item-text-link,
#body .side-bar .side-bar-items-dashboard .side-bar-item .side-bar-item-toggle {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  display: block;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item .side-bar-item-toggle:hover {
  text-decoration: none;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-title {
  border-top: 1px solid #f1f1f1;
  height: 150%;
  background-color: #cbcbcb;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-title .side-bar-item-text {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  background: -webkit-linear-gradient(top, #ffffff, #bebebe);
  background: -ms-linear-gradient(top, #ffffff, #bebebe);
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-co {
  background: none #e2e2e2;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-co .side-bar-item-text-link,
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-co .side-bar-item-toggle {
  padding-left: 12px;
  background: none #e2e2e2;
  display: inline-block;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-co .side-bar-item-text-link {
  padding-left: 6px;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-cntr {
  background: none #f1f1f1;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-cntr .side-bar-item-text-link,
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-cntr .side-bar-item-toggle {
  padding-left: 18px;
  background: none #f1f1f1;
  display: inline-block;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-cntr .side-bar-item-text-link {
  padding-left: 6px;
}
#body .side-bar .side-bar-items-dashboard .side-bar-item.side-bar-item-cogrp .side-bar-item-text-link {
  padding-left: 30px;
  background: none #FFF;
  display: inline-block;
  width: 100%;
}
#body .card-content {
  position: absolute;
  top: 0;
  left: 280px;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #f1f1f1;
}
#body .card-content .card-commands {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 50px;
}
#body .card-content .card-commands .commands {
  text-align: right;
  padding: 6px 12px;
}
#body .card-content .card-commands .add-card-button {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
#body .datalist {
  background-color: transparent;
}
#body .datalist .datalist-item {
  box-shadow: rgba(128, 128, 128, 0.5) 2px 2px 6px 3px;
}
#body .datalist .datalist-item .btn.circle-btn {
  width: 30px;
  height: 30px;
  float: right;
}
#body .datalist .datalist-item .datalist-item-body strong {
  font-size: 4em;
}
#body .datalist .row {
  margin: 0;
}
#body .btn.circle-btn {
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.5);
}
#body .breadcrumb .breadcrumb-separater {
  margin: 0 -2px;
  float: left;
}
#body .breadcrumb .breadcrumb-item {
  margin: 0 6px;
}
#body .breadcrumb .hiddable {
  cursor: pointer;
}
#body .breadcrumb .hiddable:hover {
  background-color: #eeeeee;
}
/*-----------------------------------------------------------------------------
    Input controll style definitions.
-----------------------------------------------------------------------------*/
input[type="text"],
input[type="password"],
select,
textarea {
  border: 1px solid #cccccc;
  margin: 2px;
  padding: 2px;
  display: inline-block;
  border-radius: 2px;
  width: 100%;
  margin-right: -15px;
  ime-mode: inactive;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color: #101177;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(16, 17, 119, 0.6);
}
input[type="text"].error,
input[type="password"].error,
select.error,
textarea.error {
  border-color: #d9534f;
}
input[type="text"].error:focus,
input[type="password"].error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #d9534f;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(217, 83, 79, 0.6);
}
input[type="text"].ime-active,
select.ime-active,
textarea.ime-active {
  ime-mode: active;
}
input::-webkit-input-placeholder {
  color: #bbb;
  font-weight: normal;
}
input:-ms-input-placeholder {
  color: #bbb;
  font-weight: normal;
}
input::-moz-placeholder {
  color: #bbb;
  font-weight: normal;
}
/*-----------------------------------------------------------------------------
    form styel definitions.
-----------------------------------------------------------------------------*/
.row {
  margin-bottom: 6px;
}
.row .control-label {
  font-weight: bold;
  text-align: right;
}
.row .control-label label {
  display: inline-block;
}
@media (max-width: 767px) {
  .row .control-label {
    text-align: left;
  }
}
/*-----------------------------------------------------------------------------
    list (panel) styel definitions.
-----------------------------------------------------------------------------*/
.datalist {
  width: 100%;
  background-color: #eeeeee;
  padding-top: 6px;
  padding-bottom: 6px;
}
.datalist .datalist-item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 2px;
  margin: 12px 0px 12px 0px;
  padding: 12px;
}
.datalist .row {
  margin: 0px;
}
/*-----------------------------------------------------------------------------
    list (table) styel definitions.
-----------------------------------------------------------------------------*/
.dt-container .fix-container table.datatable {
  border-right: 3px solid #ffffff;
}
.dt-container {
  position: relative;
}
.dt-body {
  position: relative;
}
table.datatable {
  border-collapse: collapse;
  width: 100%;
  margin-right: 1px;
  max-width: 2000px;
  line-height: 16px;
}
table.datatable th,
table.datatable td {
  border-collapse: collapse;
  vertical-align: middle;
  padding: 3px 3px 3px 3px;
}
table.datatable th {
  border: 2px solid #ffffff;
  background-color: #f9f9f9;
  color: #333333;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
table.datatable th i {
  margin-left: 5px;
  z-index: 100;
}
table.datatable td {
  border: 2px solid #ffffff;
  color: #333333;
}
table.datatable td button {
  padding: 0 2px 0 2px;
  min-width: 0;
}
table.datatable td label {
  min-width: 0;
}
table.datatable td input[type="checkbox"] {
  vertical-align: middle;
}
table.datatable tbody:nth-child(even) {
  background-color: #d9d9fa;
}
table.datatable tbody:nth-child(even):hover {
  background-color: #acacf4;
}
table.datatable td.center {
  text-align: center;
}
table.datatable tbody.has-error td {
  background-color: #fdf7f7 !important;
}
table.datatable tbody {
  background-color: transparent;
  min-height: 32px;
}
table.datatable tbody:hover {
  background-color: #acacf4;
  cursor: pointer;
}
table.datatable.unselect tbody:hover {
  cursor: default;
}
table.datatable tbody.selected {
  background-color: #acacf4;
}
table.datatable tfoot {
  background-color: transparent;
}
table.datatable input[type="text"],
table.datatable input[type="password"],
table.datatable select,
table.datatable textarea {
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  box-sizing: border-box;
}
table.datatable button {
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
}
table.datatable .select-tab {
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: #c2c3f7;
  min-width: 0px;
  display: block;
  height: 24px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
table.datatable .select-tab.select-tab-2lines {
  height: 55px;
}
table.datatable .selected {
  border-left-color: #1617a4;
}
/*-----------------------------------------------------------------------------
    データテーブルのカレンダー表示のクラス定義
-----------------------------------------------------------------------------*/
table.datatable tbody .date-col.sat,
table.datatable tbody.date-row.sat {
  background-color: #cdcdfe;
}
table.datatable tbody .date-col.sat input[type=text],
table.datatable tbody.date-row.sat input[type=text],
table.datatable tbody .date-col.sat select,
table.datatable tbody.date-row.sat select {
  border-color: #b4b4fe;
  background-color: #fafaff;
}
table.datatable tbody .date-col.sun,
table.datatable tbody.date-row.sun {
  background-color: #ffd6d6;
}
table.datatable tbody .date-col.sun input[type=text],
table.datatable tbody.date-row.sun input[type=text],
table.datatable tbody .date-col.sun select,
table.datatable tbody.date-row.sun select {
  border-color: #ffbdbd;
  background-color: #fffafa;
}
/*-----------------------------------------------------------------------------
    notify style definitions
-----------------------------------------------------------------------------*/
.message-area {
  margin-left: auto;
  margin-right: auto;
}
.message-area span {
  float: left;
  margin: 8px;
}
.message-area .notify-title-holder {
  height: 25px;
  cursor: pointer;
  margin-top: 5px;
}
.message-area .notify-title-message-length {
  margin-right: 5px;
}
.message-area .notify-title-open,
.message-area .notify-title-close {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -5px;
}
.message-area .alert-message {
  color: #d9534f;
  background-color: #fdf7f7;
  border-top: 2px solid #d9534f;
  max-height: 200px;
  overflow: auto;
}
.message-area .alert-message .badge {
  background-color: #cf4945;
}
.message-area .alert-message ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.message-area .alert-message ul pre {
  background-color: #ffffff;
  color: #d9534f;
  font-family: Meiryo, MS PGothic, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  display: block;
  padding: 4px;
  padding-left: 40px;
  text-decoration: underline;
  border-left: 6px solid #d9534f;
  border-radius: 0px;
  margin-bottom: 3px;
}
.message-area .alert-message ul pre:hover {
  background-color: #fdf7f7;
  cursor: pointer;
}
.message-area .alert-message .alert-clickable {
  cursor: pointer;
  text-decoration: underline;
}
.message-area .info-message {
  color: #101177;
  background-color: #686aeb;
  border-top: 2px solid #101177;
  max-height: 200px;
  overflow: auto;
}
.message-area .info-message .badge {
  background-color: #06076d;
}
.message-area .info-message ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.message-area .info-message ul pre {
  background-color: #ffffff;
  color: #101177;
  font-family: Meiryo, MS PGothic, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  display: block;
  padding: 4px;
  padding-left: 40px;
  text-decoration: underline;
  border-left: 6px solid #101177;
  border-radius: 0px;
  margin-bottom: 3px;
}
.message-area .info-message ul pre:hover {
  background-color: #686aeb;
  cursor: pointer;
}
.message-area .info-message .info-clickable {
  cursor: pointer;
  text-decoration: underline;
}
.commands-menu:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.commands-my-page {
  color: blue;
}
.commands-my-page:hover {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=site.css.map */